.counter input {
  width: 57px;
  height: 48px;
  border: none;
  background: #f1f1f1;
  text-align: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.counter input[type="number"]::-webkit-inner-spin-button,
.counter input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter input[type="number"] {
  -moz-appearance: textfield;
}


.counter button {
  height: 48px;
  width: 32px;
  border: none;
  background: #f1f1f1;
  color: black;
}

.counter button:hover {
  cursor: pointer;
  background: #dfdfdf;
}
