main a {
  text-decoration: none;
}

main h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #ffffff;
}

.orangeCard,
.grayCard,
.darkCard,
.lightCard {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 8px;
  margin-bottom: 24px;
}

main span {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 16px;
}

.textContainer p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-top: 1.5rem;
  width: 328px;
  margin-bottom: 28px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  background: #000000e3;
  padding-top: 108px;
  padding-bottom: 112px;
  background-image: url("../../images/home/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: 375px;
  overflow: hidden;
  background-position: bottom;
}

.orangeImgWrapper {
  width: 172.25px;
  margin-top: 55px;
  height: 207px;
}

.orangeCard img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.orangeCard {
  height: 600px;
  background: #d87d4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  position: relative;
  overflow: hidden;
}

.orangeCard h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 32px;
}

.orangeCard p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-top: 24px;
  max-width: 349px;
  padding-left: 23px;
  padding-right: 24px;
}

.circle {
  position: absolute;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.267);
  border-radius: 50%;
  width: 320px;
  height: 320px;
  top: -4px;
}

.circle:nth-of-type(2) {
  width: 279px;
  height: 279px;
  top: 19px;
}

.circle:nth-of-type(3) {
  width: 558px;
  height: 558px;
  top: -119px;
}

.grayCard {
  height: 320px;
  background-image: url("../../images/home/mobile/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 24px;
}

.darkCard {
  height: 200px;
  background-image: url("../../images/home/mobile/image-earphones-yx1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.lightCard {
  height: 200px;
  background: #f1f1f1;
  padding-left: 24px;
}

.lightCard h2,
.grayCard h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.lightCard h2 {
  padding-top: 41px;
}

.grayCard h2 {
  padding-top: 101px;
}

.textContainer a {
  text-decoration: none;
}
.zx9Tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .orangeCard,
  .grayCard,
  .darkCard,
  .lightCard {
    margin-left: 2.4375rem;
    margin-right: 2.5rem;
  }

  .orangeCard {
    height: 720px;
    margin-bottom: 32px;

  }

  .orangeCard h2 {
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    margin-top: 64px;
  }

  .orangeCard p {
    width: 349px;
    padding: 0;
  }

  .grayCard {
    height: 320px;
    background-image: url("../../images/home/tablet/image-speaker-zx7.jpg");
    padding-left: 62px;
    margin-bottom: 32px;
  }

  .zx9Mobile {
    display: none;
  }

  .zx9Tablet {
    display: unset;
  }

  .orangeImgWrapper {
    width: 183px;
    height: 221px;
  }

  .earphoneContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 2.4375rem;
    margin-right: 2.5rem;
    gap: 11px;
      
  }

  .darkCard {
    width: 50%;
    height: 320px;
    background-image: url("../../images/home/tablet/image-earphones-yx1.jpg");
    margin: 0;

  }

  .lightCard {
    height: 320px;
    width: 50%;
    margin: 0;
    padding-left: 41px;
  }

  .lightCard h2 {
    padding-top: 101px;
  }
}
