.checkout {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 65px;
}

.checkout h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.checkout h2,
.checkout h3 {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.928571px;
  text-transform: uppercase;
  color: #d87d4a;
  margin-top: 2rem;
}

label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 8px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.checkout input[type="text"],
.checkout input[type="tel"],
.checkout input[type="email"] {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  height: 56px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 1;
  padding-left: 24px;
}

.checkout input::placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
  padding-left: 24px;
}

.checkout button {
  border: none;
  width: 100%;
  margin-top: 32px;
}

.checkout input[type="radio"] {
}

.paymentMethodContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.radioChild {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  height: 56px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 1;
  padding-left: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.radioChildChecked {
  border: 1px solid #d87d4a;
}

.radioChild input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radioChild::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  margin-right: 8px;
}

.radioChild input[type="radio"]:checked + span::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #d87d4a;
  border-radius: 50%;
  position: absolute;
  left: 28px;
  top: 21px;
}

.cartThumbnail {
  width: 64px;
  border-radius: 8px;
}

.cartItems {
  margin-top: 31px;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;
}

.productName {
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #000000;
}

.productPrice {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.checkoutQuantity {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.quantityContainer {
  margin-bottom: auto;
}

.summaryHeading {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  letter-spacing: 1.28571px;
  text-transform: uppercase;

  color: #000000;
}

.summary {
  margin-top: 95px;
}

.summaryDetails {
  /* padding: 1rem; */
  padding-top: 2rem;
  border-top: 1px solid #e5e5e5;
  margin-top: 2rem;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.grandTotal {
  font-weight: bold;
}

.summaryLabel {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-transform: uppercase;
}

.result {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #000000;
}

.grandResult {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
  color: #d87d4a;
}

.grandTotal {
  margin-top: 1.5rem;
}

.backBtn {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 16px;
  border: none;
  background: none;
  padding-left: 1.5rem;
}

.backBtn:hover {
  opacity: 1;
  cursor: pointer;
}

.checkoutPage {
  background: white;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.checkoutModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.checkoutModal {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 540px;
  text-align: left;
}

.productContainer {
  margin-top: 24px;
  background: #f1f1f1;
  border-radius: 8px 8px 0 0;
  padding: 24px 24px 0px 24px;
  
}

.otherItems {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 1;
  margin-top: 12px;
  padding-bottom: 25px;
  display: none;

}

.productWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.productDetails {
  margin-right: auto;
  margin-left: 16px;
  margin-bottom: auto;
}

.productImage {
  width: 50px;
}

.checkoutModal h2 {
  margin-top: 23px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.857143px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 16px;
}

.productAmount {
  margin-bottom: auto;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.totalContainer {
  border-radius: 0 0 8px 8px;
  background: black;
  padding: 15px 0 15px 24px;
}

.totalContainer strong {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.totalContainer p {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.emailText {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.hideOnTablet {
  display: block !important;
  border-top: 1px solid rgba(0, 0, 0, 0.082);
  padding-top: 15px;
}

.otherItems {
}

@media screen and (min-width: 768px) {
  .formTopRow {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .formTopRow .formGroup {
    width: 100%;
  }

  .formGroupCustom2 {
    margin-top: auto;
  }

  .paymentMethodContainer .radioChild {
    width: 49%;
  }

  .formGroupCustom3 {
    width: 49%;
  }

  .eMoneyContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .eMoneyContainer .formGroup {
    width: 100%;
  }

  .radioChild {
    margin-left: auto;
  }

  .eMoneyLabel {
    margin-bottom: -17px;
  }

  .itemsContainer {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 33px;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    
  }

  

  .checkoutModal h2 {
    /* font-size: 32px; */
line-height: 36px;

  }

  .productContainer {
    margin-top: 0;
    width: 246px;
    border-radius: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    
  }

  .totalContainer {
    width: 198px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 0 8px 8px 0;
    
  }

  .totalContainer p {
    margin-bottom: 26px;
  }

  .checkoutModal {
    padding: 48px;
  }

 .otherItems {
  display: block;
  
 }

 .hideOnTablet {
  display: none !important;
 }

 .rowWrapper {

  display: flex;
  
 }

 .productWrapper {
  padding-bottom: 0 !important;
 }

 .productDetails {
  text-align: left;
 }

 .productAmount {
  margin-right: 24px;
  font-weight: 700;
 }
}

@media screen and (min-width: 1184px) {
  .checkout {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .checkoutBackBtnContainer {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }

  .backBtn {
    padding: 0;
  }

  .checkout {
    margin-top: 0;
  }

  .backBtn {
    margin-top: 79px;
  }

  form {
    display: flex;
    justify-content: space-between;
  }

  .desktopCheckoutContainer {
    width: 730px;
    background: white;
    border-radius: 8px;
    padding: 48px;
  }

  .summary {
    width: 350px;
    margin-bottom: auto;
    margin-top: 0;
    padding: 33px;
    background: white;
    border-radius: 8px;
  }

  .checkoutPage {
    background: #f1f1f1;
  }
}
