.checkout {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 65px;
}

.checkout h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.checkout h2,
.checkout h3 {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.928571px;
  text-transform: uppercase;
  color: #d87d4a;
  margin-top: 2rem;
}

label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 8px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.checkout input[type="text"],
.checkout input[type="tel"],
.checkout input[type="email"] {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  height: 56px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 1;
  padding-left: 24px;
}

.checkout input::placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
  padding-left: 24px;
}

.checkout button {
  border: none;
  width: 100%;
  margin-top: 32px;
}

.checkout input[type="radio"] {
}

.paymentMethodContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.radioChild {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  height: 56px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 1;
  padding-left: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.radioChildChecked {
  border: 1px solid #d87d4a;
}

.radioChild input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radioChild::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  margin-right: 8px;
}

.radioChild input[type="radio"]:checked + span::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #d87d4a;
  border-radius: 50%;
  position: absolute;
  left: 28px;
  top: 21px;
}

.cartThumbnail {
  width: 64px;
  border-radius: 8px;
}

.cartItems {
  margin-top: 31px;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;
}

.namePriceContainer {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: auto;
}

.productName {
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #000000;
}

.productPrice {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.checkoutQuantity {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.quantityContainer {
  margin-bottom: auto;
}

.summaryHeading {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  letter-spacing: 1.28571px;
  text-transform: uppercase;

  color: #000000;
}

.summary {
  margin-top: 95px;
}

.summaryDetails {
  /* padding: 1rem; */
  padding-top: 2rem;
  border-top: 1px solid #e5e5e5;
  margin-top: 2rem;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.grandTotal {
  font-weight: bold;
}

.summaryLabel {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-transform: uppercase;
}

.result {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #000000;
}

.grandResult {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
  color: #d87d4a;
}

.grandTotal {
  margin-top: 1.5rem;
}

.backBtn {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 16px;
  border: none;
  background: none;
  padding-left: 1.5rem;
}

.backBtn:hover {
  opacity: 1;
  cursor: pointer;
}