header {
  background: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
  /* outline: 1px solid #ffffff27; */
  height: 90px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.headerLine {
  display: none;
}

.hamburger {
  filter: brightness(0) invert(1);
  display: unset;
}

.mobileMenu {
  position: absolute;
  width: 100%;
  background: white;
  top: 90px;
  left: 0;
  z-index: 9999;
  padding-bottom: 68px;
}

.overlay {
  position: fixed;
  top: 89px; /* Adjust this value according to the header height */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
}

.overlayCart {
  position: fixed;
  top: 89px; /* Adjust this value according to the header height */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998; 
  
}

.desktopNav {
  display: none;
}

.cartContainer {
  position: absolute;
  overflow-y: auto;
  max-height: calc(100vh - 90px);
  background: transparent;
  top: 114px;
  width: 327px;
  right: 24px;
  z-index: 9999;
  /* padding-bottom: 68px; */
  /* padding-left: 24px;
  padding-right: 24px; */
  
}
.cartNotification {
  position: absolute;
  top: 24px;
  right: 10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  transition: all .2s ease;
}

.cart:hover {
  filter: invert(34%) sepia(54%) saturate(1547%) hue-rotate(324deg)
    brightness(72%) contrast(90%);
    cursor: pointer;
}

.mobileMenu {
  overflow-y: auto;
  max-height: calc(100vh - 90px); /* adjust this value if you have a different header height */
}

@media screen and (min-width: 768px) {
  .cartNotification {
    top: -12px;
    right: -15px;
  }



  .cartContainer {
    width: 377px;
  }

  header {
    padding-left: 39px;
    padding-right: 40px;
    /* padding-top: 36px;
    padding-bottom: 36px; */
    outline: none;
    height: 97px;
  }

  .headerWrapper {
    max-width: 1109.83px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .headerLine {
    height: 1px;
    position: absolute;
    display: unset;
    width: 100%;
    bottom: -36px;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.2;
  }

  .headerWrapper {
    position: relative;
  }

  .cartContainer {
    right: 0;
    top: 85px;
  }
}

@media screen and (min-width: 1184px) {
  .desktopNav {
    display: flex;
    gap: 34px;
    margin-right: auto;
    margin-left: 197px;
  }
  .activeLink {
    color: #d87d4a !important;
  }

  .desktopHeaderContainer {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .desktopNav a {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  .desktopNav a:hover {
    color: #d87d4a;
  }

  .mobileMenu {
    display: none;
  }

  .overlay {
    display: none !important;
  }

  header {
    position: relative;
  }

  .headerWrapper {
    margin-bottom: auto;
    margin-top: 35px;
  }

  
}
