header {
  background: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  outline: 1px solid rgba(255, 255, 255, .1);
}

.hamburger {
  filter: brightness(0) invert(1);
}

@media screen and (min-width: 768px) {


  .logoA {
    margin-right: auto;
    margin-left: 42px;
  }

  header {
    padding-left: 39px;
    padding-right: 40px;
  }
}
