.itemTitle h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}


.itemTitle {

    background: #000000;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}
