.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 7.5rem;
}

.productItem span {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #d87d4a;
  margin-top: 1.5rem;
}

.productItem h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 1.5rem;
}

.productItem p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  max-width: 327px;
  margin: 1.5rem 0px;
}

.productItem a {
  text-decoration: none;
}

.tabletImg {
  display: none;
}
.desktopImg {

  display: none;
}

.itemInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 568px) {
  .mobileImg {
    display: none;
  }

  .tabletImg {
    display: unset;
  }

  .productItem {
    padding-right: 24px;
    padding-left: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .productItem span {
    margin-top: 52px;
  }

  .productItem h3 {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1.42857px;
    width: 300px;
    
  }

  .productItem p {
  
    margin-top: 2rem;
    max-width: 572px;
  }

  .marginTopForNonNewProduct {
    padding-top: 28px;
  }
}

@media screen and (min-width: 768px) {


  .productItem {
    padding-right: 40px;
    padding-left: 39px;
    max-width: 1179px;

    
  }
}

@media screen and (min-width: 1184px) {


  .tabletImg {
    display: none;
  }

  .desktopImg {
    display: unset;
    width: 540px;
  }

  .productItem {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 1110px;
  }

  .productItem:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  .itemInfoContainer {

    align-items: flex-start;
  }

  .productItem h3,
  .productItem p {

    text-align: left;
  }

  .productItem p {
    width: 445px;
    
  }


  .fadeInLoad {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }
  
  .hidden {
    opacity: 0;
    visibility: hidden;
  }

}