.card {
  background: #f1f1f1;
  height: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 68px;
  margin-top: 92px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}



.thumbnailHeadp {

  width: 150px;
  

  
}

.thumbnailSpeaker {
  width: 155px;
}

.thumbnailEar {
  width: 180px;
}

.card img:first-child {
  margin-top: -52px;
  
  
}

.card h1,
.card h3,
.card h2 {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.07143px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 17px;
}

.card span {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-decoration: none;
}

.card:hover span {
  text-decoration: underline;
}

.shopContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 13.32px;
}

.shopContainer img {
  margin-right: auto;
}

.cardTextContainer {
  width: 100%;
  position: absolute;
  bottom: 22px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 568px) {
  .cardContainer {
    
    margin-top: 96px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;

    
  }

  
}

@media screen and (min-width: 768px) {

  .cardContainer {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding-left: 39px;
    padding-right: 40px;
    max-width: 1189px;

  }

  .card {
    width: 223px;
  }
}

@media screen and (min-width: 1184px) {
  .cardContainer {
    margin-top: 12.5rem;
    gap: 30px;
    /* padding-left: 0;
    padding-right: 0; */
  }

  .card {
    width: 350px;
    height: 204px;
    position: relative;
  }

  .card h1,
  .card h2,
  .card h3 {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.28571px;
    margin-bottom: 15px;
  }

  .cardTextContainer {
    bottom: 30px;
  }


  .card img:first-child {
    margin-top: -75px;

      
  }

  .thumbnailHeadp {

    width: 220px;
    margin-top: -80px !important;
    
  }

  .thumbnailSpeaker {
    width: 225px;
  }
  
  .thumbnailEar {
    width: 225px;
    margin-top: -63px !important;
  }

  
}
