.bottomSection {
  margin-top: 96px;
}

.bestGear {
  border-radius: 8px;
}

.personContainer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.bottomSection h3 {
  margin-top: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.personContainer span {
  color: rgba(216, 125, 74, 1);
}

.personContainer p {
  margin-top: 32px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

footer {
  margin-top: 120px;
  height: 654px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: rgba(216, 125, 74, 1);
}

footer p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  /* padding: 0px 24px; */
  text-align: center;
  color: #ffffff;
  margin-top: 3rem;
  opacity: 0.5;
  max-width: 327px;
}

footer p:last-of-type {
  font-weight: 700;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 16px;
}

.logo {
  margin-top: 3rem;
}

.iconContainer {
  margin-top: 3rem;
}

.line {
  width: 101px;
  height: 4px;
  background: rgba(216, 125, 74, 1);
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.iconContainer img:hover {
  filter: invert(34%) sepia(54%) saturate(1547%) hue-rotate(324deg)
    brightness(72%) contrast(90%);
  cursor: pointer;
}

.bestGearTablet {
  display: none;
}

.bestGearDesktop {
  display: none;
}

.footerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .bestGearTablet {
    display: unset;
    border-radius: 8px;
  }

  .footerWrapper {
    align-items: flex-start;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }

  .bestGear {
    display: none;
  }

  .personContainer {
    padding-left: 39px;
    padding-right: 40px;
    /* max-width: 1110px; */
    margin-left: auto;
    margin-right: auto;
  }

  .personContainer h3 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.42857px;
    padding-left: 58px;
    padding-right: 58px;
    margin-top: 43px;
  }

  .personContainer p {
    padding-left: 58px;
    padding-right: 58px;
  }

  footer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 39px;
    padding-right: 40px;
    height: 400px;
  }

  .linksContainer {
    flex-direction: row;
    gap: 34px;
  }

  footer p {
    text-align: left;
    height: unset;
    width: unset;
    max-width: 900px;
  }

  .bottomRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (min-width: 1184px) {
  .bestGearTablet {
    display: none;
  }

  .bestGearDesktop {
    display: unset;
    border-radius: 8px;
  }

  .personContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 1110px;
    padding: 0;
    gap: 125px;
  }

  .personContainer h3 {
    margin-top: 43px;
    text-align: left;
    padding: 0;
    margin-top: 147px;
  }

  .personContainer p {
    text-align: left;
    padding: 0;
  }

  .bottomSection {
    margin-top: 200px;
  }

  footer {
    margin-top: 200px;
    height: 365px;
  }

  .footerTopRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  footer p {
    width: 560px;
  }

  .topP {
    margin-top: 36px;
  }

  .bottomP {
    margin-top: 56px;
  }

  .iconContainer {
    /* margin-bottom: 63px; */
    right: 0;
    margin-top: auto;
    position: absolute;
    top: 205px;
  }

  .footerWrapper {
    position: relative;
  }
  .footerTopRow {
    margin-top: 71px;
  }

  .logo {
    margin-top: 0;
  }

  .linksContainer {
    margin-top: 0;
  }
}
