.itemDetail {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.itemDetail h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 24px;
}

.itemDetail p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 1.5rem;
}

.itemDetail h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.857143px;
  text-transform: uppercase;
  margin-top: 88px;
}

.backBtn {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 16px;
  border: none;
  background: none;
}

.backBtn:hover {
  opacity: 1;
  cursor: pointer;
}

.mobileImage {
  margin-top: 24px;
  margin-bottom: 32px;
  border-radius: 8px;
}

.itemDetail ul {
  margin-top: 1.5rem;
  list-style-type: none;
}

.gallery {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.gallery img {
  border-radius: 8px;
}

.price {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000000;
}

.description {
  margin-bottom: 24px;
}

.listStyle {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #d87d4a;
  /* margin-right: 1.5rem; */
  flex-shrink: 0;
  width: 15px;
  text-align: left;
  margin-right: 1.5rem;
}

.listItem {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.listItemContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ul li {
  margin-bottom: 8px;
}

.ul li:last-of-type {
  margin-bottom: 0px !important;
}

.newLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;

  color: #d87d4a;
}

.tabletImage {
  display: none;
}

@media screen and (min-width: 768px) {
  .itemDetail {
    padding-left: 2.4375rem;
    padding-right: 2.5rem;
  }

  .mobileImage {
    outline: 1px solid red;
    display: none;
  }

  .tabletImage {
    display: unset;
    width: 40%;
    
  }

  .itemContainer {
    display: flex;
    gap: 69px;
    align-items: center;
    margin-top: 24px;
  }

  .itemContainerChild {
  }

  .itemDetail h2 {
    line-height: 32px;
    letter-spacing: 1px;
  }

  .itemDetail p {
    font-size: 15px;
    line-height: 25px;
  }

  .description {
    max-width: 469px;
  }

  .itemDetail h3 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14286px;
  }

  .backBtn {
    margin-top: 33px;
  }

  .includedContainer {

    display: flex;
    margin-top: 7.5rem;
    gap: 200px;
    
  }

  .boxHeading {
    margin-top: 0 !important;
    /* width: 339px; */
  }

  .ul {
    margin-top: 0 !important;
  }
}
