@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

h1 {
  color: white;
  text-transform: uppercase;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

.App {

}



body {
  min-height: 100vh;
  background: #ffffff;
  /* max-width: 800px;
  margin-left: auto;
  margin-right: auto; */
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* button styles  */

.btn {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 10rem;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.orange {
  background: #d87d4a;
  color: #ffffff;
  transition: all 0.2s ease;
}

.orange:hover {
  background: #e69364;
}



.black {
  background: #000000;
  margin-top: 24px;
  color: #ffffff;
  transition: all 0.2s ease;
}

.black:hover {
  background: #3b3a3a;
}

.light {
  color: #000000;
  background: transparent;
  margin-top: 2rem !important;
  border: 1px solid #000000;
  transition: all 0.2s ease;
}

.light:hover {
  background: #000000;
  color: white;
}

/* ------ */

/* product index header  */

.indexHeader h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.indexHeader {
  background: #000000;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .black {
    margin-top: 40px;
  }

  .indexHeader {
    margin-bottom: 7.5rem;
  }
}

@media screen and (min-width: 1184px) {
  .indexHeader {
    height: 239px;
  }

  .indexHeader h1 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.42857px;
  }

  
}
